<div>
    <h1>Comprar</h1>
    <br>

    <label for="producto">Producto</label>
    <input type="text" name="producto" id="producto" placeholder="Producto">
    <br><br>
    <label for="precio">Precio</label>
    <input type="number" name="precio" id="precio" placeholder="0.00">
    <br><br>
    <label for="cantidad">Cantidad</label>
    <input type="number" name="cantidad" id="cantidad" placeholder="0">
    <br><br>
    <button onclick="addSale()">Comprar</button>
    <br>
    <br>
    <table id="userTableClient" style="width:50%" border="1">
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </table>
</div>