<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}">
</head>

<body>
    <h1>Tienda de Carlitos</h1>

    <div>
        <p>Bienvenido/a a la Tienda de Carlitos, es un gusto para nosotros atenderle.</p>

    </div>

    <div class="container" id="login">
        <a href="{{url_for('login')}}">Log In</a>
        <img src="{{url_for('static', filename='images/avatar.svg')}}" width="180" height="180" alt="">
    </div>

    <script src="{{url_for('static', filename='js/pre_load.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>