<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/forms.css')}}">
</head>

<body>
    <h1 class="title">Tienda de Carlitos</h1>
    <br>

    <div class="login-container">
        <h1>Registration</h1>

        <label for="name">Full Name</label>
        <input type="text" name="name" id="name_reg" placeholder="Full Name">
        <label for="user">Username</label>
        <input type="text" name="user" id="user_reg" placeholder="Username">
        <label for="passw">Password</label>
        <input type="password" name="passw" id="passw_reg" placeholder="Password">
        <button onclick="registerNewUser()">Register</button>


        <a href="{{url_for('login')}}">Have An account?</a>
    </div>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>